<!-- Buttons Start -->
<div class="d-lg-flex d-none flex-align flex-md-nowrap flex-wrap gap-16 flex-shrink-0">
    <a asp-area="Admin" asp-action="Signin" asp-controller="Account"
       class="btn btn-outline-main rounded-pill flex-align gap-8">
        Login
        <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
    </a>
    <a asp-area="Admin" asp-action="Register" asp-controller="Account"
       class="btn btn-main rounded-pill flex-align gap-8">
        Sign Up
        <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
    </a>
</div>
<!-- Buttons End -->