@model EduAll.Domain.Course

<section class="course-details py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-8">
                <div class="course-details__content border border-neutral-30 rounded-12 bg-main-25 p-12">
                    <img src="@Model.ImgUrl" alt="@Model.Title" class="rounded-8 cover-img" />
                    <div class="p-20">
                        <h2 class="mt-24 mb-24">@Model.Title</h2>
                        <p class="text-neutral-700">@Model.Description</p>
                        <!-- تكمّل باقي الأقسام بنفس HTML الموجود عندك، أو حالياً تسيبها ثابتة لو لسه معندكش كل الخصائص في الـCourse -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
